.admin-header {
    background: linear-gradient(225deg, rgba(164,97,243,0.9) 0, rgba(46,149,187,0.9) 64.39%, rgba(63,139,216,0.9) 100%);
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 0;

    line-height: 1;
    padding: 4px 20px;
    border-bottom: 1px solid #dfdfdf;
    margin: 0;
}
.admin-header a, .admin-header a:visited {
    color: white;
    text-decoration: none;
}

.admin-main-area {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-gap: 1px;
    min-height: 100%;
    background: #f3f3f3;
}

ul.menu {
    width: 100%; 
    margin: 0; 
    padding: 18px 0 0 0px;
    overflow: hidden;
    list-style-type: none;

    background: #fff;
    border-right: 1px solid #dfdfdf;

    letter-spacing: 0;
    line-height: 16px;
}
ul.menu > li {
    line-height: 1.8rem;
    padding: 0 0.5rem 0.8rem 0;
}
ul.menu > li span {
    font-size: 14px;
    padding-left: 25px;
    color: #464646; 
    font-weight: 500;
    text-transform: uppercase;
}
ul.menu li ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 15px;
    font-weight: 400;
    text-transform: none;
}
ul.menu li ul li {
    padding-left: 30px;
    border-left: 5px solid #fff;
}
ul.menu li ul li.selected {
    color: #2095f3;
    border-left: 5px solid #2095f3;
}
ul.menu li ul li.selected a {
    color: #2095f3; 
}
ul.menu a, ul.menu a:visited {
    color: #7f7f7f;
    text-decoration: none;
}
ul.menu a:hover {
    color: #2095f3;
    text-decoration: none;
}
.admin-content {
    padding: 20px 20px;
}

.row-disable {
    color: #cccccc;
}
.row-warning {
    color: #fd8008;
}

