html, body {
	height: 100%;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
}
body {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 0.8rem;
	padding: 0; 
	margin: 0;
	background: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.webix_view {
    font-family: Arial, Verdana, Helvetica, sans-serif !important;
}

.home-area {
	display: grid;
	/*grid-template-columns: 1fr 470px;
	grid-gap: 1px;*/
	min-height: 100%;
    height: 100%;
	background: #f3f3f3;
}
.home-area #app-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin-right: 30px;*/
    width: 470px;
    margin: 50px auto;
}
@media only screen and (max-device-width:480px){
    .home-area #app-container {
        width: 100%;
    }
}

.home-area #app-content {
	position: relative;
    margin: 30px;
}
.home-area #app-content #app-details {
	position: absolute;
	left: 30px;
	bottom: 30px;
}
.home-area #app-content #app-details label {
	//font-weight: bold;
}
.home-area #app-content #app-details span {
	color: #00f;
}

.keypad input, .keypad > div > button {
    font-size: 2.75rem ;
}
.keypad input::-webkit-input-placeholder {
    font-size: 2.75rem ;
}
.keypad input::-moz-placeholder {
    font-size: 2.75rem ;
}
/* .keypad input:-moz-placeholder {
    font-size: 2.75rem;
} */
.keypad input:-ms-input-placeholder {
    font-size:2.75rem;
}

.text-center {
	text-align: center !important;
}
.text-center button {
    text-align: center !important;
}
.text-right {
	text-align: right;
}
.text-footer {
	font-weight: bold;
}

.checked {
    color: green;
}
.unchecked {
    color: lightgray;
}
.webix_table_checkbox, .webix_icon {
    cursor: pointer;
}
.webix_icon.fa-trash-o {
	color: #666;
}

.hide {
	visibility: hidden;
}
.multiline { line-height: 30px !important; }

.webix_list_item .disabled {
     color: #ccc;
}
.divider {
	margin: 0;
}

.badge {
	text-align: center;
	font-weight: bold;
	float: right;
	background-color: #007bff;
	color: #fff;
	border-radius: 3px;
	white-space: nowrap;
	padding: 0 .4em;
}

.order_item {
    width: 100%;
    height: 100%;
    line-height: 24px !important;
    border: 1px solid #3498db;
    border-radius: 4px;
    overflow: hidden;
    background-color: #ffffee;
    color: #000;
    position: relative;
}

.edit-flag .webix_cell {
	position: relative;
	cursor: pointer;
}
.edit-flag .webix_cell::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 0.2em;
    border-right-color: #666;
    border-top-color: #666;
}

.serial-details {
	height: 45px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 5px;
    color: #303030;
    text-shadow: 0 1px 0 #fff;
    background-color: #e1e4ea;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#edeff4), color-stop(1, #e1e4ea));
    background: -o-linear-gradient(top, #edeff4 0% , #e1e4ea 100%);
    background: -ms-linear-gradient(top, #edeff4 0% , #e1e4ea 100%);
    background: -moz-linear-gradient(top, #edeff4 0% , #e1e4ea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#edeff4), color-stop(1, #e1e4ea));
    box-shadow: 0px 1px 1px #d4d7de;
}
.serial-title {
	height: 20px;
	line-height: 15px;
    overflow: hidden;
    font-weight: bold;
    float: left;
}
.serial-value {
    text-align: right;
}
 
.alternative-rows {
    background-color: #03C5EE;
    margin-top: 1px !important;
}
.background-danger {
    background-color: #f00;
    color: #fff;
}
.background-success {
    background-color: #6DE06D;
    color: #fff;
}
.text-danger {
    color: #f00;
}
.text-success {
    color: #6DE06D;
}

.alternative-rows .webix_inp_label,
.background-danger .webix_inp_label,
.background-success .webix_inp_label {
    color: #fff;
}

.webix_success div {
   background-color: #27ae60;
   border: 1px solid #27ae60;
   color: #fff;
}
.webix_success {
   background-color: #27ae60;
   border: 1px solid #27ae60;
   box-shadow: 0 0 10px #000
}

.background-primary {
    background-color: #3498db;
}
.background-primary * {
    color: #fff !important;
}
.product-info {
    line-height: 1;
}

.menu-button > div {
    height: 72px;
    position: relative;
    box-sizing: border-box;
    padding: 3px 2px;
    font-size: 25px;
}
.menu-button > div > a {
    width: 100% !important;
    height: 100% !important;
    top: 0px !important;
    text-align: center !important;
    background-color: transparent !important;
    box-sizing: border-box !important;
    border-radius: 6px !important;
    font-size: 15px !important;
    border: 1px solid #d9d9d9 !important;
}
.menu-button > div >a >span{
    margin-top:15px;
    font-size: 30px;
}
.icon-status {
    position: absolute;
    top: 0;
    left: 0;
}
.lh-min,
.lh-min textarea {
    line-height: 0.6;
}
.list-header {
    background-color: #3498db;
    color: #fff;    
}
.multiline {
    line-height: 25px !important;
}
.cell-warning {
    background-color: #d2e3ef;
    color: #666;
    font-weight: bold;
}
.input_progress .webix_progress_icon .webix_progress_state {
    font-size: 18px;
    position: relative;
    left: 99%;
    top: 25%;
}

.trio_title{
    /*width: 150px;*/
    position: relative;
    height: 43px;
    overflow: hidden;
    line-height: 12px;
    font-size: 12px;
    white-space: pre-wrap;
}


.trioViewGroupLIst>div>div,
.trioViewDataView>div>div>div
{
    margin: 2px;
    border: 1px solid rgb(92, 164, 247);
    border-radius: 10px;
    float: left;
}


.trioViewGroupLIst,.salaList .webix_list_item{
    border: 0;
}

.trioViewGroupLIst .webix_list_item{
    height: 100px!important;
    width: 150px!important;
    white-space: normal;
    /*background: unset;*/
    overflow: hidden;
    text-align: center;

    line-height: 20px;
    /*border: none;*/
    margin-left: 15px;
}



.trioSize1>div>div>.trio_title{
    width: 100px !important;
    text-align: center;
}
.trioViewGroupLIst .webix_group,
.trioViewGroupLIst .webix_group_back,
.salaList .webix_list_item
{
    background: #6cbbf1 ;
    

}

.trioViewGroupLIst .webix_selected,
.trioViewGroupLIst .webix_selected,
.salaList .webix_selected
{  background: #1f8dd8  }
.priceMenu {
    /* text-align: center;
    word-break: break-all;
    line-height: 20px;
    font-size: 80%;
    top: -15px; */
    margin-left: 12px;
    color:black;
    position: relative;
   
    width: 100px;
}
.trio_title{
    /*width: 150px;*/
    position: relative;
    height: 43px;
    overflow: hidden;
    line-height: 12px;
    font-size: 12px;
    white-space: pre-wrap;
}
.barcode{
    /* position: relative; */
    height: 25px;
    overflow: hidden;
    line-height: 12px;
    font-size:12px;
   float:left;
   text-align: center;
   width: 120px;
  
}
.trioSize1>div>div>.trio_title{
    
    text-align: center;
}
.zindex{
 width:800px;
 height:800px; 
  
}
div.webix_view.webix_window.keypad>div>div>div>div>div {
    font-size: 2.75rem !important;
}

.keypadbutton button{
    font-size: 40px !important;
}
.webix_icon_btn.fa-check{
    font-size: 20px;
}
.webix_icon_btn.fa-times{
    font-size: 20px;  
}
.shift1 div button{
    background:  #3498db !important;
}
.shift2 div button{
    background:  #31ad18 !important;
}