.webixappstart {
    opacity: 0;
}
.webixapp {
    transition: opacity 500ms;
    opacity: 1;
}
/*data loading status*/
.status_good, .status_error, .status_saving {
	text-align: center;
	margin-left: -12px;
}
.status_error {
	color: red;
}
.status_good {
	color: green;
}
.app_layout.webix_layout_clean {
	background: #ebedf0;
}
.app_start .webix_template {
	padding: 12px 12px;
}

.text-center {
    text-align: center !important;
}
.text-right {
    text-align: right !important;
}
.color-blue {
    color: #0f80ff;
}
.color-red {
    color: red;
}
.color-green {
    color: green;
}

.btn-back,
.btn-new {
    cursor: pointer;
    background-color: #1ca1c1;
    color: white;
}
.btn-back .webix_icon,
.btn-new .webix_icon {
    font-size: 25px;
    text-align: left;
    vertical-align: middle;
    margin-right: 5px;
}
.btn-back .text,
.btn-new .text {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}

.checked {
    color: green;
    cursor: pointer;
}
.unchecked {
    color: lightgray;
    cursor: pointer;
}
.webix_checkbox .webix_icon {
    font-size: 1.5rem;
    line-height: 2.2rem;
}

.pointer {
    cursor: pointer;
}

button.btn-confirm {
    background: #1ca1c1;
    box-shadow: inset 0px 1px 1px #8eb3d5;
    -webkit-box-shadow: inset 0px 1px 1px #8eb3d5;
    color: white;
    width: unset;
    padding: 7px;
}
.edit-flag .webix_cell {
    position: relative;
    cursor: pointer;
}
.edit-flag .webix_cell::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 0.2em;
    border-right-color: #fd6666;
    border-top-color: #fd6666;
}

.product-details {
    padding: 5px;
    line-height: 1.2rem;
    font-size: 1rem;
}
.product-details span {
    color: #1ca1c1;
    font-weight: 500;
}
.product-details .sub-details {
    margin-left: 20px;
}
